:root {
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
}

:root {
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
}

body {
    display: flex;
    flex: auto;
    justify-content: center;
    border: 1px solid red;
    min-height: 1000px;

}

.background {
    max-width: 100%;
    min-height: 34%;
    max-height: auto;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    flex-basis: 34%;
    background-color: black;
    background-image: url("./images/background.jpg");
    background-size: cover;
    border: 1px solid rgb(222, 243, 28);
}

.left div {
    color: white;
    text-align: center;

}

.left div img { 
    width: 125px;
    height: auto;    
}

.left div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 175px;
    font-size: 100px;
    background-color: rgb(0, 0, 0, 0.6);
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 66%;
    justify-content: stretch;
}

body section {
    border:1px solid green;
}

.top, .mid, .bot {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid blue;
    padding: 10px 40px;
}


.top, .bot {
    background-color: rgb(249, 250, 254);
}
/* ------------------------------------------- */
.top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 20px;
}

.mid {
    background-color: white;
    box-shadow: black;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid lightgray;
}

label {
    font-weight: 700;
}

/* input:required {
    border: solid red;
} */

input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
}


.send {
    margin-bottom: 30px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 15px 70px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

a {
    font-weight: 700;
}

.bot div div {
    font-weight: 700;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .firstRow, .firstRow2 {
    display: flex;
    flex-direction: column;
}